@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  
  margin: 10px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  float:right;
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
 
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 1px 20px;
  cursor: pointer;
  
}

.taskcolorless {
  margin: 5px;
  padding: 1px 20px;
  
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.subjectregister{
  
  margin-bottom: 40px;
}

.list{
  margin-top:5px;
  margin-bottom: 5px;
}

.Bottom {
  position: relative;
    float:right;
    height: 280px;
    width: 150px;
    
}
.Bottom button{
  position: absolute;
        bottom: 0;
        
}

.tableleft{
  float:left;
  width:50%;
}

.tableright{
  float:right;
  text-align: center;
  width:50%;
}

input{
  display:inline-block;
  width: 10%;
}

.studtable{
  display: inline-block;
  position:left;
  text-align:left;
  width:50%;
}

.studtable{
  display: inline-block;
  position:left;
  text-align:left;
  width:100%;
}

.marktable{
  display: inline-block;
  position:right;
  text-align:center;
  width:50%;
}

.sbmitbtn {
  float:right;
  background: rgb(180, 185, 199);
  color: #0c0000;
  border: none;
  padding: 10px 20px;
  bottom: 10px;
  right: 25px;
  margin: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.radiosbj{
  display:inline-block;
  text-align: left;
}

.topheader{
  width:100%;
  height:100px;
  border-style: solid;
  border-color: blue;
  position:relative;
  background: rgb(180, 185, 199);
}

.toptext{
  display: inline-block;
  font-size : 10px;
}

.topright{
  position:absolute;
  top:20px;
  right:30px;
  display: block;
  width: 100px;
  height : 50px;
}

.bottomright{
  position:absolute;
  bottom:1px;
  right:10px;
}

.leftmenu{
  float:left;
  position:relative;
  text-align: center;
  width:50%;
  height:400px;
  border-style: solid;
  border-color: blue;
}

.rightmenu{
  float:right;
  position:relative;
  text-align:center;
  height:400px;
  width:50%;
  border-style: solid;
  border-color: blue;
}

.bottommenuright{
  float:bottom;
  position:relative;
  text-align:center;
  height:450px;
  width:100%;
  border-style: solid;
  border-color: blue;
}

.inputposition{
  position:right;
}

.headertext{
  text-align:center;
}

.subjectborder{
  padding: 8px 15px;
  bottom: 5px;
  right: 25px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: blue;
  
}

.studentnameborder{
  padding: 8px 15px;
  bottom: 5px;
  right: 25px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: blue;
  
}

.subjectlistboarder{
  padding: 87px 15px;
  bottom: 5px;
  right: 25px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: blue;
}

.studnamelistborder{
  padding: 87px 15px;
  bottom: 5px;
  right: 25px;
  margin: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: blue;
}